<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <description>Patient App</description>
    <display-name>PatientApp</display-name>
    <servlet>
        <servlet-name>maintainence</servlet-name>
        <jsp-file>/maintainDropDown.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>patientSearch</servlet-name>
        <jsp-file>/patientSearch.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>patientRecord</servlet-name>
        <jsp-file>/patientRecord.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <jsp-file>/patientRegistration.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>receipt</servlet-name>
        <jsp-file>/receipt.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>newTreatment</servlet-name>
        <jsp-file>/newPatientRecord.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <jsp-file>/logout.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>patientSearch</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>Search Results</description>
        <servlet-name>searchResults</servlet-name>
        <jsp-file>/patientSearchResults.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>maintainence</servlet-name>
        <url-pattern>/ApplicationMaintainence</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchResults</servlet-name>
        <url-pattern>/PatientSearchResults</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>login</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patientRecord</servlet-name>
        <url-pattern>/PatientRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/PatientRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>receipt</servlet-name>
        <url-pattern>/Receipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newTreatment</servlet-name>
        <url-pattern>/NewPatientRecord</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
</web-app>
